# Branch for https://github.com/letsencrypt/letsencrypt/pull/2061
-e git+https://github.com/wteiken/letsencrypt@add_dns01_challenge#subdirectory=acme&egg=acme
boto3
click
cryptography
pyopenssl
rfc3986
